/* Ограничиваем максимальную ширину виджета, чтобы он не был слишком растянутым на мониторах */
#vk_groups {
    max-width: 800px; /* Оптимальная ширина для чтения ленты новостей */
    width: 100% !important;
    margin-inline: auto; /* Центрируем виджет на странице */
}
